@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Open Sans", sans-serif;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.p-xs {
  padding: 0.25em;
}

.px-xs {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.py-xs {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.pl-xs {
  padding-left: 0.25em;
}

.pr-xs {
  padding-right: 0.25em;
}

.pt-xs {
  padding-top: 0.25em;
}

.pb-xs {
  padding-bottom: 0.25em;
}

.p-sm {
  padding: 0.5em;
}

.px-sm {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.py-sm {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.pl-sm {
  padding-left: 0.5em;
}

.pr-sm {
  padding-right: 0.5em;
}

.pt-sm {
  padding-top: 0.5em;
}

.pb-sm {
  padding-bottom: 0.5em;
}

.p-md {
  padding: 1em;
}

.px-md {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-md {
  padding-left: 1em;
  padding-right: 1em;
}

.pl-md {
  padding-left: 1em;
}

.pr-md {
  padding-right: 1em;
}

.pt-md {
  padding-top: 1em;
}

.pb-md {
  padding-bottom: 1em;
}

.p-lg {
  padding: 1.5em;
}

.px-lg {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.py-lg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.pl-lg {
  padding-left: 1.5em;
}

.pr-lg {
  padding-right: 1.5em;
}

.pt-lg {
  padding-top: 1.5em;
}

.pb-lg {
  padding-bottom: 1.5em;
}

.p-xxl {
  padding: 3em;
}

.px-xxl {
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-xxl {
  padding-left: 3em;
  padding-right: 3em;
}

.pl-xxl {
  padding-left: 3em;
}

.pr-xxl {
  padding-right: 3em;
}

.pt-xxl {
  padding-top: 3em;
}

.pb-xxl {
  padding-bottom: 3em;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-0 {
  margin-left: 0;
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.m-xs {
  margin: 0.25em;
}

.mx-xs {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.my-xs {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.ml-xs {
  margin-left: 0.25em;
}

.mr-xs {
  margin-right: 0.25em;
}

.mt-xs {
  margin-top: 0.25em;
}

.mb-xs {
  margin-bottom: 0.25em;
}

.m-sm {
  margin: 0.5em;
}

.mx-sm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.my-sm {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.ml-sm {
  margin-left: 0.5em;
}

.mr-sm {
  margin-right: 0.5em;
}

.mt-sm {
  margin-top: 0.5em;
}

.mb-sm {
  margin-bottom: 0.5em;
}

.m-md {
  margin: 1em;
}

.mx-md {
  margin-top: 1em;
  margin-bottom: 1em;
}

.my-md {
  margin-left: 1em;
  margin-right: 1em;
}

.ml-md {
  margin-left: 1em;
}

.mr-md {
  margin-right: 1em;
}

.mt-md {
  margin-top: 1em;
}

.mb-md {
  margin-bottom: 1em;
}

.m-lg {
  margin: 1.5em;
}

.mx-lg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.my-lg {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.ml-lg {
  margin-left: 1.5em;
}

.mr-lg {
  margin-right: 1.5em;
}

.mt-lg {
  margin-top: 1.5em;
}

.mb-lg {
  margin-bottom: 1.5em;
}

.m-xxl {
  margin: 3em;
}

.mx-xxl {
  margin-top: 3em;
  margin-bottom: 3em;
}

.my-xxl {
  margin-left: 3em;
  margin-right: 3em;
}

.ml-xxl {
  margin-left: 3em;
}

.mr-xxl {
  margin-right: 3em;
}

.mt-xxl {
  margin-top: 3em;
}

.mb-xxl {
  margin-bottom: 3em;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --gutter-x: 1em;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  gap: 0.5em;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 1 1 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 576px;
  }
  .col-sm {
    flex: 1 0 0%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .container-md, .container {
    max-width: 768px;
  }
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .container-lg, .container {
    max-width: 992px;
  }
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
}
.container {
  background-color: lightcyan;
}

/*# sourceMappingURL=web.css.map */
